<div class="container-fluid">

    <h2 class="text-center">修改商品</h2>

    <%= simple_form_for [:admin, @product] do |f| %>

      <div class="group">
        <%= f.input :title, :label => "商品名称" %>
      </div>

      <div class="group">
        <%= f.input :description, :label => "商品介绍" %>
      </div>

      <div class="group">
        <%= f.input :quantity, :label => "数量" %>
      </div>

      <div class="group">
        <%= f.input :price, :label => "价格" %>
      </div>

      <% if @product.photos.present? %>
        <span>目前商品图</span>
        <% @product.photos.each do |p|%>
          <%= image_tag p.avatar.thumb.url %> <br>
        <% end %>
      <% end %>

      <div class="group">
        <%= f.label :avatar%>
        <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]"%>
      </div>
      <div class="group">
        <%= f.input :detail, label: "商品广告词"%>
      </div>
      <% if @product.prints.present? %>
        <span>目前商品图</span>
        <% @product.prints.each do |p|%>
          <%= image_tag p.avatar.thumb.url %> <br>
        <% end %>
      <% end %>
      <div class="group">
        <%= f.label :产品介绍图%>
        <%= f.file_field :avatar, :multiple => true, name: "prints[avatar][]"%>
      </div>
      <div class="group">
        <%= f.select :category_id, @categories %>
      </div>

      <%= f.submit "Submit", data: {disable_with: "Submitting..."} %>

    <% end %>

</div>
