<div class="container">
  <div class="col-md-12">
    <h2 class="text-center">新建商品</h2>

    <%= simple_form_for [:admin, @product] do |f| %>

      <div class="group">
        <%= f.input :title, :label => "商品名称" %>
      </div>

      <div class="group">
        <%= f.input :description, :label => "商品介绍" %>
      </div>

      <div class="group">
        <%= f.input :quantity, :label => "数量" %>
      </div>

      <div class="group">
        <%= f.input :price, :label => "价格" %>
      </div>
      <div class="group">
          <div id="star-rating">甜度：</div>
      </div>

      <div class="group">
          <%= f.label :首页图 %>
          <%= f.file_field :image, as: :file %>
      </div>

      <div class="group">
        <%= f.label :产品展示图%>
        <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]"%>
      </div><br>
      <div class="group">
        <%= f.input :detail, :label => "广告词"%>
      </div>
      <div class="group">
        <%= f.label :产品介绍图 %><br>
        <%= f.file_field :avatar, :multiple => true, name: "prints[avatar][]" %>
      </div>
      <div class="group">
        <%= f.label :•品类%>
        <%= f.select :category_id, Category.all.map{ |c| [c.name, c.id]}, {} , :class => "form-control" %>
      </div>

      <%= f.submit "Submit", data: {disable_with: "Submitting..."}, class:"btn btn-success" %>

    <% end %>
  </div>
</div>

<script>
$('#star-rating').raty({
  path: '/ratyrate/',
  scoreName: 'product[rating]'
});
</script>
