<div class="container">
  <div class="col-md-12">
    <h2 class="text-center">新建商品</h2>

    <%= simple_form_for [:admin, @product] do |f| %>

      <div class="group">
        <%= f.input :title, :label => "商品名称" %>
      </div>

      <div class="group">
        <%= f.input :description, :label => "商品介绍" %>
      </div>

      <div class="group">
        <%= f.input :quantity, :label => "数量" %>
      </div>

      <div class="group">
        <%= f.input :price, :label => "价格" %>
      </div>
      
      <%= f.submit "Submit", data: {disable_with: "Submitting..."} %>

    <% end %>
  </div>
</div>
