<div class="container-fluid">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.photos[0].avatar.medium.url, class:"thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class:"thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="product-desc" style="padding-top:100px;">
      <%= @product.description %>
    </div>

    <div class="product-quantity">
      <%= @product.quantity %>
    </div>

    <div class="product-price">
      <%= @product.price %>
    </div>

  </div>
</div>
