<div class="row">

<header class="full-height" data-type="image">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active article_parallax article_parallax--img">
      <h2 class="headline">
        <span class="first-letter">Free Kitchen</span>
      </h2>
    </div>
    <div class="item article_parallax_2 article_parallax--img">
      <h2 class="headline1">
        <span class="first-letter">Free Kitchen</span>
      </h2>
    </div>
    <div class="item article_parallax_2 article_parallax--img">
      <h2 class="headline2">
        <span class="first-letter">Free Kitchen</span>
      </h2>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</header>

<!--
<div class="row masonry-container transitions-enabled">
    <% @products.each do |product| %>
      <div class="box panel panel-default col-xs-6">
        <%= link_to product_path(product) do %>
          <% if product.photos.present? %>
            <%= image_tag(product.image)%>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
          <% end %>
        <% end %>

        <div class="panel-body">
          <%=  product.title %><br>
          ￥：<%= product.price%><br>
          已有<%=  product.comments.count%>条评论
        </div>
      </div>
    <% end %>
</div> -->


<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#header']").on('click', function(event) {

   // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){

      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
    } // End if
  });
})

    $('.star-rating').raty({
      path: '/ratyrate/',
      readOnly: true,
      score: function(){
        return $(this).attr('data-score');
      }
    });

</script>
