<div class="container">
  <% if @query_string.blank? %>
    <div class="search-info-title">
      Sorry, The search content cannot be blank, please type some product into to search.
    </div>
  <% elsif @products.blank? %>
    <h2 class="search-info-title">没有找到 "<%= @query_string %>" 的产品信息 </h2>
  <% else %>
    <div class="container">
      <div class="row masonry-container transitions-enabled">
          <% @products.each do |product| %>
            <div class="box panel panel-default col-xs-6">
              <%= link_to product_path(product) do %>
                <% if product.photos.present? %>
                  <%= image_tag(product.photos.first.avatar.thumb.url)%>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                <% end %>
              <% end %>
              <div class="panel-body">
                <%=  product.description %>
              </div>
              <p>已有<%=  product.comments.count%>条评论</p>
            </div>
          <% end %>
      </div>
    </div>
  <% end %>

</div>
<div class="text-center">
  <% if @query_string.blank? %>
  <% else %>
    <%= will_paginate(@products, render: BootstrapPagination::Rails)%>
  <% end %>
</div>
