<div  id="footerSection">
<div class="container">
  <div class="row">
       <div class="col-md-3 span3">
        <h5>ACCOUNT</h5>
        <%= link_to "YOUR ACCOUNT", edit_user_registration_path %>
        <a href="#">PERSONAL INFORMATION</a>
        <a href="#">ADDRESSES</a>
        <%= link_to "ORDER HISTORY", account_orders_path %>
       </div>
       <div class="col-md-3 span3">
        <h5>INFORMATION</h5>
        <a href="#">CONTACT</a>
        <a href="#">REGISTRATION</a>
        <a href="#">TERMS AND CONDITIONS</a>
        <a href="#">FAQ</a>
       </div>
       <div class="col-md-3 span3">
        <h5>OUR OFFERS</h5>
        <a href="#">NEW PRODUCTS</a>
        <a href="#">TOP SELLERS</a>
        <a href="#">SPECIAL OFFERS</a>
        <a href="#">SUPPLIERS</a>
       </div>
       <div id="socialMedia" class="col-md-3 span3 pull-right">
        <h5>SUBSCRIBE US </h5>
          <div class="subscribe">
            <%= form_for Sub.new do |f| %>
              <%= f.text_field :email, :class => "form-control" %><br>
              <%= f.submit "SUBMIT", :class => "btn btn-primary" %>
            <% end %>
          </div>
      </div>

   </div>
  <p class="pull-right">&copy; 2017 by Johnson&CuiShiRui</p>
</div><!-- Container End -->
</div>
