<!DOCTYPE html>
<html>
  <head>
    <title>MumCook backend panel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render 'common/navbar' %>
      </div>
       <div class="row pt60">
         <div class="col-md-2 mt50">
           <ul class="nav nav-pills nav-stacked" style="max-width:300px;">
             <li><%= link_to("Products", admin_products_path) %></li>
           </ul>
         </div>

         <div class="col-md-10">
           <%= yield %>
         </div>
    </div>
  </body>
</html>
